/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/vcs.xml
.idea/phpunit.xml
.idea/php.xml
.idea/modules.xml
.idea/2021-proyectoParejasProgra.iml
.idea/.gitignore
.idea/workspace.xml
.env.example
composer.lock
